body {
    margin: 0
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('../images/headercar.jpg');
    color: #fff;
}

header img {
    width: 150px; 
    height: 100px;
}

nav {
    display: flex; /* Add this */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px; 
    border-radius: 5px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #6f2232;
    background-color: blanchedalmond;
}

nav a:active,
nav a.selected {
    color: #ff0000; /* Change to your desired color */
}

.footer-section {
    background-image: url('../images/headercar.jpg');
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    height: 100px;
}

.form-section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    /* background-image: url('../images/Est.jpg'); */
    
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
    /* color: white; */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    /* color: white; */
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6f2232;
}

.estimation-section {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.estimation-section button{
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.insurance-offers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.insurance-offer {
    text-align: center;
    margin-bottom: 20px;
}

.insurance-offer img {
    width: 100px;
}

.finalCost {
    font-size: 25px;
    font-weight: 800;
    color: orangered;
}
