body {
    margin: 0
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('../images/headercar.jpg');
    color: #fff;
}

header img {
    width: 150px; 
    height: 100px;
}

nav {
    display: flex; /* Add this */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px; 
    border-radius: 5px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #6f2232;
    background-color: blanchedalmond;
}

nav a:active,
nav a.selected {
    color: #ff0000; /* Change to your desired color */
}

.footer-section {
    background-image: url('../images/headercar.jpg');
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    height: 100px;
}

.form-section {
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6f2232;
}

button[type="button"] {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #6f2232;
}

/* Add this CSS to your existing styles.css file */

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}